/**
 * Styles of NavigationMerci
 */
@import '../../shared/styles/variables';

.navigation-merci {
  position: relative;
  display: block;
  width: 100%;
  height: $height-bar-container;
  background-color: $color-red;
  text-align: center;
  font-size: 64px;
  line-height: $height-bar-container;
  text-transform: uppercase;
  color: #fff;
}
