/**
 * Styles of App
 */
@import '../shared/styles/variables';

.app {
  width: $width-app;
  height: $height-app;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;

  &-page {
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 100px 0 0;
    height: calc($height-app - $height-bar);
    animation: app-page-on 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &-page-caption {
    text-align: center;
    font-size: 36px;
    color: $color-text-default;
    max-width: 880px;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;

    p {
      margin: 30px 0;
    }
  }
}

@keyframes app-page-on {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(50px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
