/**
 * Styles of PagePersonal
 */
@import '../../shared/styles/variables.css';

.page-personal {
  &-fields {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    margin: 70px 90px;
  }

  &-input {
    display: block;
    width: 50%;
    height: 120px;
    font-size: 64px;
    color: $color-blue;
    border: 10px solid $color-blue;
    text-transform: uppercase;
    padding: 15px 20px 0;
    border-radius: 20px;

    &::placeholder { color: $color-blue-transparent; }

    &:first-child {
      text-align: right;
      padding-right: 90px;
    }

    &:last-child {
      text-align: left;
      padding-left: 90px;
      padding-right: 40px;
    }
  }

  &-fields::after {
    content: '*';
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 60px;
    color: $color-blue;
  }

  &-submit {
    display: block;
    position: absolute;
    left: 50%;
    width: 160px;
    margin: -20px 0 0 -80px;
    height: 160px;
    border-radius: 80px;
    color: #fff;
    font-size: 36px;
    background-color: $color-blue;
    &:disabled { color: rgba(255, 255, 255, 0.4); }
  }

  &-checkboxes {
    width: 1330px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
  }

  .link-small {
    font-size: 16px;
    color: $color-text-light;
    text-align: center;
    margin: 20px auto;
    width: 720px;
    display: block;
    text-decoration: underline;
  }
}
