/**
 * Styles of PageMachines
 */
@import '../../shared/styles/variables';

.page-machines {
  &-items {
    display: flex;
    flex-flow: flow nowrap;
    margin: 67px auto 0;
  }

  &-item {
    width: 580px;
    height: 611px;
    position: relative;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.68, -0.4, 0.265, 1.4);
    filter: grayscale(100%);
    opacity: 0.5;
    &:first-child { margin-left: auto; }
    &:last-child { margin-right: auto; }
  }

  &-item::after {
    content: '';
    position: absolute;
    display: block;
    width: 700px;
    height: 611px;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 700px 611px;
  }
  &-item.red::after { background-image: url('./assets/lumio-red.png'); }
  &-item.black::after { background-image: url('./assets/lumio-black.png'); }
  &-item.white::after { background-image: url('./assets/lumio-white.png'); }

  &-item.selected {
    opacity: 1;
    transform: scale(1.2);
    filter: none;
  }

  &-item-title {
    display: block;
    position: absolute;
    width: 236px;
    height: 236px;
    line-height: 236px;
    top: 106px;
    left: 70px;
    border-radius: 118px;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    .red & { background-color: $color-red; }
    .black & { background-color: #000; }

    .white & {
      color: #000;
      border: 5px solid #ededed;
    }
  }

  &-item-confirm {
    position: absolute;
    font-size: 18px;
    text-decoration: underline;
    top: 50px;
    width: 100%;
    text-align: center;
    animation: machines-item-confirm 0.6s;
    display: none;
    .selected & { display: block; }
  }
}

@keyframes machines-item-confirm {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

