/**
 * Styles of Logo
 */
@import '../../shared/styles/variables.css';

$width: 360px;
$height: 456px;

.logo {
  width: $width;
  height: $height;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: url('./assets/logo.png') 50% 50% no-repeat;
  background-size: 360px 456px;
  transform-origin: 0 0;
  transform: translate(calc($width-app / 2 - $width / 2), calc($height-app / 2 - $height / 2 - $height-bar / 2));
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  animation: logo-on 0.6s;

  &.corner {
    transform: scale(0.3) translate(calc(3 * $width-app + 100px), 150px);
  }

  &.smaller {
    transform: translate(calc($width-app / 2 - 0.7 * $width / 2), calc($height-app / 2 - $height / 2 - $height-bar / 2)) scale(0.7);
  }
}

