/**
 * Styles of Popup
 */
@import '../../shared/styles/variables.css';

.popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &-fade {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    animation: popup-fade 0.3s;
  }

  &-body {
    z-index: 2;
    position: absolute;
    width: 67%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
  }

  &-content {
    padding: 100px;
  }

  h1 {
    font-size: 60px;
    margin: 0 0 20px;
    font-weight: bold;
    color: $color-text-default;
  }

  h2 {
    font-size: 44px;
    margin: 40px 0 20px;
    font-weight: bold;
    color: $color-text-default;
  }

  h3 {
    font-size: 36px;
    margin: 20px 0 30px;
    font-weight: bold;
    color: $color-text-default;
  }

  p {
    font-size: 24px;
    margin: 0 0 30px;
    color: $color-text-default;
  }

  ul,
  ol {
    margin: 0 40px 60px;

    li {
      font-size: 24px;
      margin: 30px;
    }
  }

  ul {
    margin-left: 20px;
  }

  a {
    color: $color-blue;
  }
}

@keyframes popup-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
