/**
 * Styles of Navigation
 */
@import '../../shared/styles/variables';

.navigation {
  z-index: 1;
  position: relative;
  width: 100%;
  height: $height-bar;

  &-bar {
    width: 100%;
    height: $height-bar-container;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 60px;
    transition: background-color 0.4s;

    &.step-1 { background-color: $color-blue; }
    &.step-2 { background-color: $color-yellow; }
    &.step-3 { background-color: $color-purple; }
    &.step-4 { background-color: $color-green; }
  }

  &-name {
    font-size: 64px;
    text-transform: uppercase;
    color: #fff;
    margin-right: auto;
    animation: steps-name-on 0.3s;
  }

  &-steps {
    display: flex;
    flex-flow: row nowrap;
  }

  &-step {
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: 32px;
    background-color: #fff;
    margin-left: 20px;
    animation: steps-round-on 0.3s both;

    &::after {
      content: '';
      width: 36px;
      height: 36px;
      display: none;
      line-height: 36px;
      position: absolute;
      top: 14px;
      left: 14px;
      border-radius: 18px;
      font-size: 24px;
      text-align: center;
      color: #fff;
      transform-origin: 50% 50%;
      animation: steps-round-on 0.3s both;
      .step-1 & { background-color: $color-blue; }
      .step-2 & { background-color: $color-yellow; }
      .step-3 & { background-color: $color-purple; }
      .step-4 & { background-color: $color-green; }
    }
    &.on::after { display: block; }

    &:first-child {
      animation-delay: 0.15s;
      &::after { content: '1'; }
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
      &::after { content: '2'; }
    }

    &:nth-child(3) {
      animation-delay: 0.25s;
      &::after { content: '3'; }
    }

    &:nth-child(4) {
      animation-delay: 0.3s;
      &::after { content: '4'; }
    }
  }

  &-button-back {
    width: 150px;
    height: 100%;
    margin: 0 40px;
    background: url('./assets/arrow-back.svg') 100% 50% no-repeat;
  }
}

@keyframes steps-name-on {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes steps-round-on {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
