/**
 * Styles of PageMoments
 */
@import '../../shared/styles/variables';

.page-moments {
  &-items {
    display: flex;
    flex-flow: flow nowrap;
    justify-content: space-around;
    margin: 162px auto;
  }

  &-item {
    width: 374px;
    height: 374px;
    position: relative;
    border-radius: 187px;
    display: block;
    margin: 0 86px;
    color: #fff;
    background-color: $color-green;
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.5;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.68, -0.4, 0.265, 1.4);
    &:first-child { margin-left: auto; }
    &:last-child { margin-right: auto; }
  }

  &-item.selected {
    opacity: 1;
    transform: scale(1.3);
  }

  &-item-confirm {
    position: absolute;
    font-size: 18px;
    text-decoration: underline;
    top: 250px;
    width: 100%;
    text-align: center;
    animation: moments-item-confirm 0.6s;
    display: none;
    .selected & { display: block; }
  }
}

@keyframes moments-item-confirm {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
