@font-face {
  font-family: 'TradeGothic';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/TradeGothic-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GothamRounded';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/GothamRounded-Medium.woff2') format('woff2');
}
