@import './variables.css';
@import './fonts.css';

*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  color: $color-text-default;
  background-color: #fff;
  font: 24px 'GothamRounded', 'sans-serif';
  overflow: hidden;
}

button {
  font-family: 'GothamRounded', 'sans-serif';
}

input {
  font-family: 'TradeGothic', 'sans-serif';
}

