$color-yellow: #ffa400;
$color-orange: #e3673c;
$color-orange-light: #ffe9bf;
$color-blue: #00b3e3;
$color-blue-transparent: rgba(0, 179, 277, 0.5);
$color-purple: #783cbd;
$color-green: #c4d500;
$color-red: #d4232f;

$color-text-default: #30281b;
$color-text-brown: #b08e71;
$color-text-gray: #7b7b7b;
$color-text-light: #c8c8c8;

$width-app: 1920px;
$height-app: 1080px;
$height-bar: 242px;
$height-bar-container: 172px;
$height-button-restart: 70px;
