/**
 * Styles of NavigationLanguage
 */
@import '../../shared/styles/variables';

.navigtation-language {
  position: relative;
  width: 100%;
  height: $height-bar;
  display: flex;
  flex-flow: row nowrap;

  &-button {
    flex: 1;
    height: 172px;
    font-size: 64px;
    padding: 0 50px;
    text-transform: uppercase;
    color: #fff;

    &.first {
      margin-right: 1px;
      text-align: right;
      background-color: $color-yellow;
    }

    &.last {
      margin-left: 1px;
      text-align: left;
      background-color: $color-red;
    }
  }
}
