/**
 * Styles of PageDrinksCapsule
 */
@import '../../shared/styles/variables';

.page-drinks-capsule {
  width: 150px;
  height: 160px;
  margin: 10px;
  display: block;
  position: relative;

  &-image {
    z-index: 3;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 120px 122px;
  }

  &-title {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 120px;
    font-size: 18px;
    color: $color-text;
    text-align: center;

    .selected & {
      font-size: 12px;
      color: #fff;
      margin-left: 10px;
    }
  }

  &::before {
    z-index: 1;
    content: '';
    position: absolute;
    display: none;
    top: -40px;
    left: -40px;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-color: $color-yellow;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.11), 0 40px 80px rgba(0, 0, 0, 0.21);
    animation: drinks-capsule-select 0.3s cubic-bezier(0.68, -0.4, 0.265, 1.4);
  }

  &.selected {
    z-index: 10;
    transform: scale(1.5);
    transition: transform 0.3s cubic-bezier(0.68, -0.4, 0.265, 1.4);
    &::before { display: block; }
  }

  &-confirm {
    z-index: 5;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    animation: drinks-capsule-confirm 0.6s;
    display: none;
    .selected & { display: block; }
  }

  &-close {
    z-index: 6;
    position: absolute;
    top: -30px;
    right: -40px;
    width: 100px;
    height: 80px;
    display: none;
    background: url('./assets/close.svg') 50% 50% no-repeat;
    .selected & { display: block; }
  }
}

@keyframes drinks-capsule-select {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes drinks-capsule-confirm {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
