/**
 * Styles of Checkbox
 */
@import '../../shared/styles/variables';

.checkbox {
  width: 50%;
  height: 140px;
  position: relative;

  &:first-child {
    margin-right: 35px;
  }

  &:last-child {
    margin-left: 35px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    border: 6px solid #c5c5c5;
    background-color: #eee;
  }

  &::after {
    content: '';
    position: absolute;
    left: 11px;
    top: -9px;
    width: 42px;
    height: 42px;
    display: none;
    background: url('./assets/checkmark.svg') 0 0 no-repeat;
    transform-origin: 50% 100%;
    animation: checkbox-mark 0.15s;
  }

  &.on::before {
    border-color: $color-blue;
    background-color: #fff;
  }

  &.on::after {
    display: block;
  }

  &-label {
    font-size: 24px;
    text-align: left;
    color: $color-text-gray;
    height: 100%;
    margin-left: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes checkbox-mark {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
