/**
 * Styles of ButtonRestart
 */
@import '../../shared/styles/variables.css';

.button-restart {
  display: block;
  width: 100%;
  height: $height-button-restart;
  font-size: 24px;
  color: $color-orange;
  text-decoration: underline;
  animation: button-restart-on 0.3s both 0.15s;
}

@keyframes button-restart-on {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
