/**
 * Styles of PageDrinks
 */
@import '../../shared/styles/variables';

.page-drinks {
  &-username {
    color: $color-text-brown;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-sections {
    margin: 50px 0 0;
    display: flex;
    flex-flow: row nowrap;
    transform: translateX(170px);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.075);
  }

  &-sections.scrolled {
    transform: translateX(-56%);
  }

  &-section {
    margin: 0 90px 0 0;
    position: relative;
    border-left: 2px solid $color-text-default;
  }

  &-section-name {
    font-size: 24px;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
    transform: rotate(-90deg) translate(-100%, -40px);
    transform-origin: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-navigation {
    z-index: 10;
    position: absolute;
    width: 80px;
    height: 160px;
    top: 50%;
    margin-top: -80px;
    display: block;
    background-color: $color-yellow;
    background-repeat: no-repeat;
    animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-delay: 0.6s;
    &:disabled { background-color: $color-orange-light; }

    &.previous {
      left: 0;
      border-radius: 0 80px 80px 0;
      background-image: url('./assets/arrow-previous.svg');
      background-position: 30% 50%;
      animation-name: page-drinks-navigation-previous;
    }

    &.next {
      right: 0;
      border-radius: 80px 0 0 80px;
      background-image: url('./assets/arrow-next.svg');
      background-position: 70% 50%;
      animation-name: page-drinks-navigation-next;
    }
  }

  &-capsules {
    z-index: 5;
    width: 510px;
    display: flex;
    flex-flow: row wrap;
  }
}

@keyframes page-drinks-navigation-previous {
  0% {
    visibility: hidden;
    transform: translateX(-100%);
  }

  100% {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes page-drinks-navigation-next {
  0% {
    visibility: hidden;
    transform: translateX(100%);
  }

  100% {
    visibility: visible;
    transform: translateX(0);
  }
}
